{% extends 'base.html' %}
{% block mainContent %}
    <h1>Bem vindo a API Livros Vai Na Web</h1>
    <ul>
        <li>Para enviar um livro direto ao banco de dados, utilize a rota /doar</li>
        <li>Para visualizar as informações de todos os livros cadastrados em nosso banco de dados utilize a rota /livros</li>
        <li>Para editar a informação de um livro cadastrado em nosso banco de dados utilize a rota /livros/id_livro</li>
        <li>Para deletar um livro cadastrado em nosso banco de dados utilize a rota /livros/id_livro</li>
    </ul>
{% endblock %}